 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 301px;
  height: 301px;
  object-position: 50% 22.82%;
  margin: 144px auto 0 60px;
}

.u-section-1 .u-group-1 {
  width: 627px;
  min-height: 342px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -265px auto 0 463px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-family: FiraCode-VariableFont_wght;
  margin: 23px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  font-family: FiraCode-VariableFont_wght;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: FiraCode-VariableFont_wght;
  margin: 30px auto 0 0;
  padding: 10px 125px 10px 124px;
}

.u-section-1 .u-line-1 {
  width: 313px;
  transform-origin: left center 0px;
  margin: -71px auto 0 54px;
}

.u-section-1 .u-text-3 {
  font-size: 1.625rem;
  margin: 12px 770px 0 50px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 770px 0 50px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 770px 0 50px;
}

.u-section-1 .u-social-icons-1 {
  height: 41px;
  min-height: 16px;
  width: 143px;
  min-width: 68px;
  margin: 15px auto 60px 139px;
}

.u-section-1 .u-icon-1 {
  height: 32px;
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  height: 32px;
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-3 {
  height: 32px;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-1 .u-group-1 {
    width: 519px;
    --radius: 50px;
    min-height: 366px;
    margin-top: -301px;
    margin-right: 0;
    margin-left: auto;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: -5px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 560px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 560px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 560px;
    margin-left: 60px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 504px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -761px;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 438px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
    margin-bottom: initial;
  }

  .u-section-1 .u-social-icons-1 {
    width: 142px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1157px;
  }

  .u-section-1 .u-group-1 {
    min-height: 392px;
    margin-top: -763px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    padding-left: 106px;
    padding-right: 106px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 457px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    width: 143px;
    margin-top: 12px;
    margin-left: auto;
    margin-bottom: 58px;
  }
}@font-face {
  font-family: 'FiraCode-VariableFont_wght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FiraCode-VariableFont_wght.ttf);
}